body {  padding-top: 50px;


}

.starter-template {  padding: 40px 15px;  text-align: center;}

/* Global add-ons */
.sub-header {
  padding-bottom: 2px;  border-bottom: 1px solid #eee;}


/* Main content */
.main {  padding: 5px;}
@media (min-width: 768px) {
  .main {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.main .page-header {  margin-top: 0;}


/*********************** carte Google Maps ***********************/
#map-canvas{
	position:relative;
	margin-top: 1px;
	width:75%;
    height:73%;
}
 
#infoWindow p.ville{	font-weight:bold;}
#infoWindow p.habitants{
   width: 50px;
}
#infoWindow p.indent{
	text-indent: 1px;
	font-size:10px;
	line-height: 4px;
  
}
form.formform{
    width: 30%;
}
 
form.formMaps{
    background-color: rgba(128,128,128,0.9);
width: 315px;
	position:absolute;
 	top: 50px;
	right: 2px;
	padding: 0 20px;
	border-radius: 5px;
  height:100%;
	 
	 

}
 



 
@media screen and (max-width: 1279px){
   
   form.formMaps{   width: 100%;
    position:relative;
    background-color:green;
     padding-bottom: 1px;
       top: 1px;
       
       padding: 0 1px;
height:auto;
text-align: center;
    
   } 
  
   
}
 #formulaire-legende{
 position:absolute;
  float: right;
  right:314px;
  background-color: rgba(128,128,128,0.9); 
  width:  31%; 
   padding-top: 25px;
   top:25px;
   height: 29%;
 }
@media screen and (max-width: 1279px){
    #formulaire-legende{
      position:relative;
       width: 100%;
       float: none;
      background-color:none;
       top:2px;
       padding-top:2px;
      height:auto;
       right:00px;
       
         
   }
     #formulaire-legende li{
      display: inline-block; 
     }
     
   
}
#floating-resultatRechercheMap {
  position:relative;
 padding-top: 2px;
 width: 44%;
height: 27%;
    

}
@media screen and (max-width: 1279px){
    #floating-resultatRechercheMap{

     width: 100%;
      background-color:orange;
       position:relative;
       padding-top:00px;
       height: auto;
       text-align: center;
       
   }
     
   
}
@media screen and (max-width: 1279px){
    #map-canvas{
      
     width:100%;
 margin-top: 5px;
 height:80%;
       
   }
     
   
}
@media screen and (max-width: 1279px){
   
        
     #infoWindow {
 width: 20%; 
     }

     
   
}

#Afficheractionlocalite{
position:relative;
 padding-top: 2px;
 background-color: orange;
     
    width: 75%;
    height: auto;
    text-align: center;


    
   } 
@media screen and (max-width: 1279px){
   
   #Afficheractionlocalite{ 
     width: 100%;
      background-color:white;
       padding-top: none;
       height: auto;

     
}
}



form.formProjets{
	position:fixed;
	background-color: rgba(128,128,128,0.9);
	top: 50px;
	right: 2px;
	padding: 0 5px;
	border-radius: 5px;
	width: 420px;
	 

}
 
 @media screen and (max-width: 1279px){
    form.formProjets{
     width: 100%;
      background-color:orange;
       position:relative;
       padding-top:none;
       text-align: center;
       top: 2px;
   }
     
   
}

 
div.col-sm-15{
	padding-bottom: 20px;
	width: 100%;
}

div.col-sm-12{
	padding-bottom: 20px;
	width: 100%;
}
div.Nombre{
	color: red;
	font-weight:bold;
	text-align: center;
}
div.beneficiare{
   position:relative;
   width:90%;
   height:  250px;
   text-align: center; left: 60px;
     
    
}
 
form.formMaps2{
	position:relative;
	background-color: rgba(128,128,128,0.9);
  	right: 2px;
	padding: 0 0px;
	border-radius: 10px;
	width: 100%;
	height:250px;
  }
  @media screen and (max-width: 1279px) {
form.formMaps2{
 position:relative;
  height:auto;
  background-color:orange;
}

  }
   
 form.resultat{
	position:relative;
	background-color: rgba(128,128,128,0.9);
 	left: 10px;
	
	padding: 0 10px;
	border-radius: 10px;
	width: 100%;
	height:50px;
  }
}
 

 table.action {
         width: 100%;
        top: 290px;
 
      
 }
 @media and (max-width: 1279px){
table.action{
  top: auto;
}

 }
 table.projet {
         width: 67%;
        top: 260px;
          font-size: 5px;
 }
 @media screen and (max-width: 1279px){
   
     table.projet{ 
     width: 100%;
      background-color:white;
       padding-top: none;
       font-size: 5px;

     
}
}
@media screen and (max-width: 1279px){
   
     .res{ 
     width: 100%;
      background-color:red;
       padding-top: none;
       font-size: 5px;

     
}
}
  table.graph {
    text-align:  center;
        

         font-size: 14px  ;

 }
  

table, th, td {
    border: 0px solid black;
	 text-align: center;
	 padding:0.0px;
	 font-size: 11px  ;
 }
th {
    background-color: green;
    color: white;
 
  
     
 }
h1{
	text-align:center;
	margin-bottom:30px;
}
thead, tbody     { display: block; }
	 
tbody{
    overflow-y: auto;
}
th, td {
  width:
  12em;
}
tr:hover {background-color: #f5f5f5}
.floating-box {
    float: left;
    width: 23%;
    height: 80px;
    margin: 0px;
        border: 3px solid red;      

}
.floating-box1 {
    float: left;
    width: 23%;
    height: 100px;
    margin: 2px;

}

.floating-boxCommune {
    float: left;
    width: 18%;
    height: 100px;
    margin: 2px;
 
}
.floating-boxLocalite {
    float: left;
    width: 18%;
    height: 100px;
    margin: 2px;
 }
.floating-boxTyeAction {
    float: left;
    width: 30%;
    height: 100px;
    margin: 2px;
 
}
.floating-boxTemeTauxPhysique {
    float: left;
    width: 15%;
    height: 100px;
    margin: 2px;
 }
.floating-boxTheme {
   float: left;
    width: 13%;
    height: 100px;
    margin: 2px;
 }
.floating-boxAnnee {
    float: left;
    width: 	20%;
    height: 100px;
    margin: 2px;
 
}
.floating-boxEtatAction {
    float: left;
    width: 30%;
    height: 100px;
    margin: 2px;

}
.floating-boxEtatActionm {
     width: 30%;
     margin: 2px;

}
.floating-boxTauxFinancier {
     float: left;
    width: 22%;
    height: 100px;
    margin: 2px;
 
}
.floating-boxSourceFinancement {
     float: left;
    width: 20%;
    height: 100px;
    margin: 2px;
  
}
.floating-boxbOUTON {
     float: left;
    width: 10%;
    height: 110px;
    margin: 1px;
 
}
  	

.div-table-resultat-action{
 	position:fixed;
top: 250px;
}
.after-box {
     border: 1px solid red;      
}
.div-box {
padding-top:  00px;

	}
	.div-table-resultat {
padding-top:  0px;

	}
	.btn-recherche {
 padding: 1px;
 
	}
	.scroll {
     overflow: auto;
}
.labelinput{
	 font-size: 12px  ;


}
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow:auto

}
.center {
    text-align: center;
    	     width:  5%;
  
}

table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 1px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }

 

table.scroll tbody {
    height: 280px;
    overflow-y: auto;
    overflow-x: auto;
}
table.scrollProjet tbody {
    height: 550px;
     overflow-x: auto;
}
table.scrollbeneficiare tbody {
    height: 150px;
    overflow-y: auto;
     
}

tbody { border-top: 0px solid black; }

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 0px /*solid black;
    /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}
 li{
    display: block;  
 }